name: Run Unit Tests

on:
  pull_request:
    branches: [master]
    paths:
      - '**/*.java'
      - 'pom.xml'
      - 'build.gradle'
      - 'gradle.properties'

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
            path: ~/.m2/repository
            key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
              ${{ runner.os }}-maven-

      - name: Rodar testes com Maven
        if: ${{ hashFiles('pom.xml') != '' }}
        run: mvn test -Dspring.profiles.active=test
        continue-on-error: false